$notification-color: #d4cccc;
$background-circle: #9f9f9f;
$logo-background-color: #d0ac80;
$logo-border-color: #d5c7a6;
$button-color: #ffffff;
$delete-btn-color: #743e61;
$edit-btn-color: #3e5d74;
$child-table-color: #f1f1f1;
$create-button-color: #5c7892;
$color-td: #444444;
$color-th: #9f9f9f;
$box-shadow-color: #0000004f;
$color-text-new-product: #444444;
$color-btn-save: #3e746d;
$color-text: #ffffff;
$color-btn-cancel: #743e61;
$border-bottom-color: #5f5c5caf;
$menu-background-color: #8e6f4a;
$shadow: #9f9f9f27;
$color-circle: #9f9f9f;
$backdrop-sidenav-color: #00000033;
$background-header-color: #ffffff;
$snackBar-background-color: #b39167;
$snackBar-btn-color: #ffffff;
$snackBar-btn-background-color: #d5c7a6;
$required-color: red;