$height-header: 60px;
$width-search: 217.23px;
$height-search: 25px;
$width-search-icon: 17.3px;
$height-search-icon: 15px;
$gap: 23.09px;
$padding-top-circle: 11px;
$padding-right-circle: 24.7px;
$border-raduis-circle: 40px;
$btn-width: 38.48px;
$logo-height: 33.33px;
$padding-top-search: 15.3px;
$padding-top-notification: 20px;
$font-size-search-bar: 10px;
$circle-width: 38.4px;
$circle-height: 33.3px;
$font-size-notification: 33px;
$margin-icon-top: 18.3px;
$margin-icon-left: 5px;
$font-size: 14px;
$border-raduis-input: 6px;
$margin-top-search-input: 15px;
$text-indent: 40px;
$item-dimension: 24px;
$border-item: 6px;
$marin-bottom-item: 25px;
$logo-dimension: 40px;
$border-logo: 25px;
$margin-top-logo: 15px;
$margin-bottom-logo: 25px;
$paddig-top-btnCreate: 32px;
$margin-top-table: 66px;
$sidenav-width: 379px;
$padding: 24px;
$width-side-bar: 379px;
$font-size: 16px;
$create-button-width: 120px;
$create-button-height: 39px;
$line-height: 19px;
$font-size-text: 14px;
$letter-spacing: 0.0015em;
$btn-width: 57px !important;
$btn-heignt: 30px;
$line-height-btn: 15px;
$font-size-btn: 13px;
$padding-left-btn: 13px;
$border-radius: 0px;
$sidenav-position: 0;
$font-size-table: 40px;
$width-col-1: 20%;
$width-col-2: 13.3%;
$width-col-3: 12.3%;
$width-col-4: 15%;
$font-weight-td: 500;
$width-btn: 60px;
$height-btn: 30px;
$input-form-margin-top: 20px;
$input-with: 325px;
$gap-btn: 24px;
$line-height: 15px;
$gap-header: 209px;
$btn-cancel-padding: 11px;
$margin-top-head: 32px;
$margin-icon-right: 24px;
$font-weight-text: 440;
$nav-width: 65px;
$menu-top-position: 0;
$gap-btn: 12px;
$margin-left-delet-btn: 12px;
$min-width-all-button: 140px;
$padding-top-th: 23px;
$snackBar-btn-font-size: 12px;
$margin-right-text-form: 10px;
$button-opacity: 0.4;